<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-photo-library" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Photo Library</name>
    <js-module name="PhotoLibrary" src="www/PhotoLibrary.js">
        <clobbers target="cordova.terikon.photoLibrary" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="PhotoLibrary">
                <param name="ios-package" value="PhotoLibrary" />
            </feature>
        </config-file>
        <source-file src="src/ios/PhotoLibrary.swift" />
        <dependency id="cordova-plugin-add-swift-support" version="1.3.1"/>
    </platform>
</plugin>
