<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-photo-library-tests">
    <name>Photo Library Tests</name>
    <js-module src="es5-shim/es5-shim.min.js" name="es5-shim" />
    <js-module src="es6-shim/es6-shim.min.js" name="es6-shim" />
    <js-module src="es7-shim/dist/es7-shim.min.js" name="es7-shim" />
    <js-module src="blueimp-canvastoblob/js/canvas-to-blob.min.js" name="blueimp-canvastoblob" />
    <js-module src="test-utils.js" name="test-utils" />
    <js-module src="tests.js" name="tests" />
    <platform name="android">
      <config-file target="AndroidManifest.xml" parent="/*">
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      </config-file>
    </platform>
</plugin>
